<%- include('layouts/header') -%>

<div class="container-fluid">
    <div class="row">
        <div class="hide-col col-lg-3" style="background-color: #1c1e21;">
            <div class="card text-white mt-3" style="background: transparent;">
                <div class="card-body">
                    <h5 class="card-title">Phân loại thông báo</h5>
                    <p class="card-text">Tìm kiếm</p>
                </div>
            </div>
            <a href="javascript:location.reload(true)">Refresh Page</a>
        </div>
        <div class="col-12 col-lg-6" style="background-color: #1c1e21; min-height: 700px;">
            <table id="my-post-table" class="table table-borderless mt-3">
                <tbody>
                    <tr>
                        <td class="my-post-image w-60">
                            <%- include('avatar') -%>
                        </td>
                        <td>
                            <input type="text" class="form-control" placeholder="Bạn đang nghĩ gì thế?" data-bs-toggle="modal" data-bs-target="#addPostModal">
                            <div class="modal fade" id="addPostModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addPostModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Tạo bài viết</h5>
                                            <button onclick="closePostForm()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <textarea name="content" id="my-post-editor"></textarea>
                                            <button id="btn-cr-up-post" onclick="createPost()" type="submit" class="btn btn-primary w-100percent mt-3">Đăng</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <%- include('post') -%>
            <div class="lds-facebook start-50 translate-middle"><div></div><div></div><div></div></div>
        </div>
        <div class="hide-col col-lg-3" style="background-color: #1c1e21">
            <table id="notification-table" class="table">
                <thead>
                    <tr>
                        <th scope="col">Thông báo</th>
                        <td class="text-end"><a href="#">Xem tất cả</a></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">
                            <span class="category-noti">[Phòng Đại học] - 23/11/2020</span><br>
                            <h6 class="mt-2">Thông báo khai giảng khóa học Anh văn, Tin học, Toán tin</h6>
                            <a class="detail-noti" href="/detail">Xem chi tiết</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <span class="category-noti">[Phòng Đại học] - 23/11/2020</span><br>
                            <h6 class="mt-2">Thông báo khai giảng khóa học Anh văn, Tin học, Toán tin</h6>
                            <a class="detail-noti" href="/detail">Xem chi tiết</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include('layouts/footer') -%>