<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <!-- <a class="navbar-brand" href="/"></a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/notification">Thông báo</a>
                </li>
                <% if (typeof url !== 'undefined' && url === '/notification' && locals.role !== 'student') { %>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:" data-bs-toggle="modal" data-bs-target="#notificationModal">Đăng thông báo</a>
                    </li>
                <% } %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Phân loại thông báo
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/notification">Tất cả thông báo</a></li>
                        <li><a class="dropdown-item" href="#">Chuyên mục</a></li>
                    </ul>
                </li>
            </ul>
            <div class="float-left">
                <div class="float-left">
                    <%- include('../avatar') -%>
                </div>
                <div class="btn-group h-40">
                    <button type="button" class="btn btn-user-setting dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                        <%= locals.fullname %>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-lg-end dropdown-menu-dark">
                        <li><a class="dropdown-item" href="/my-profile">Xem trang cá nhân của bạn</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/update-account">Cập nhật thông tin</a></li>
                        <% if (locals.role === 'admin') { %>
                            <li><a class="dropdown-item" href="/register">Đăng ký tài khoản</a></li>
                            <li><a class="dropdown-item" href="/register/update-categories">Cập nhật chuyên mục</a></li>
                        <% } %>
                        <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>